In [1]:
[i for i in range(10) if i%2 == 0]
#> [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [2]:
result = []
for i in range(10):
    if i%2 == 0:
        result.append(i)

In [3]:
mylist = [1,2,3,4,5]

# For Loop Version
result = []
for i in mylist:
    result.append(i**2)

print(result)
#> [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
result = [i**2 for i in [1,2,3,4,5]]
print(result)
#> [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [5]:
mylist = [1,2,3,4,5]

# For Loop Version
result = []
for i in mylist:
    if i%2==0:
        result.append(i**2)

print(result)
#> [4, 16]

[4, 16]

In [6]:
# List Comprehension Version
result = [i**2 for i in [1,2,3,4,5] if i%2==0]
print(result)
#> [4, 16]

[4, 16]

In [7]:
mylist = [1,2,3,4,5]
# For Loop Version
result = []
for i in mylist:
    if i%2==0:
        result.append(i**2)
    else:
        result.append(i**3)

print(result)
#> [1, 4, 27, 16, 125]

[1, 4, 27, 16, 125]

In [8]:
[i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]
#> [1, 4, 27, 16, 125]

[1, 4, 27, 16, 125]

In [9]:
# For Loop Version
mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
result = []
for row in mat:
    for i in row:
        if i%2 == 0:
            result.append(i)

print(result)
#> [2, 4, 6, 8, 10, 12, 14, 16]

[2, 4, 6, 8, 10, 12, 14, 16]

In [10]:
# List Comprehension version
[i for row in mat for i in row if i%2==0]
#> [2, 4, 6, 8, 10, 12, 14, 16]

[2, 4, 6, 8, 10, 12, 14, 16]

In [11]:
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

result = []
for i in list_b:
    result.append((i, mylist.index(i)))

print(result)
#> [(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [12]:
[(i, mylist.index(i)) for i in list_b]
#> [(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [13]:
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

result = {}
for i in list_b:
    result[i]=mylist.index(i)

print(result)
#> {6: 2, 4: 8, 1: 3, 2: 7}

{6: 2, 4: 8, 1: 3, 2: 7}

In [14]:
{i: mylist.index(i) for i in list_b}
#> {6: 2, 4: 8, 1: 3, 2: 7}

{6: 2, 4: 8, 1: 3, 2: 7}

In [20]:
sentences = ["a new world record was set", 
             "in the holy city of ayodhya", 
             "on the eve of diwali on tuesday", 
             "with over three lakh diya or earthen lamps", 
             "lit up simultaneously on the banks of the sarayu river"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# For Loop Version
results = []    
for sentence in sentences:
    sentence_tokens = []
    for word in sentence.split(' '):
        if word not in stopwords:
            sentence_tokens.append(word)
    results.append(sentence_tokens)

print(results)
#> [['new', 'world', 'record', 'was', 'set'], 
#> ['holy', 'city', 'ayodhya'], 
#> ['eve', 'diwali', 'tuesday'], 
#> ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'], 
#> ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

[['new', 'world', 'record', 'was', 'set'], ['holy', 'city', 'ayodhya'], ['eve', 'diwali', 'tuesday'], ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'], ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [21]:
results = [word for sentence in sentences for word in sentence.split(' ') if word not in stopwords]
print(results)
#> ['new', 'world', 'record', 'was', 'set', 'holy', 'city', 'ayodhya', 'eve', 'diwali', 'tuesday', 'over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps', 'lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']

['new', 'world', 'record', 'was', 'set', 'holy', 'city', 'ayodhya', 'eve', 'diwali', 'tuesday', 'over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps', 'lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']

In [22]:
# List Comprehension Version
[[word for word in sentence.split(' ') if word not in stopwords] for sentence in sentences]
#> [['new', 'world', 'record', 'was', 'set'],
#>  ['holy', 'city', 'ayodhya'],
#>  ['eve', 'diwali', 'tuesday'],
#>  ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
#>  ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

[['new', 'world', 'record', 'was', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [24]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-i if  3 <= i <= 8 else i for i in mylist]

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [25]:
import string
{a:i+1 for a,i in zip(string.ascii_letters[:26], range(26))}

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [26]:
import string
d = {a:i+1 for a,i in zip(string.ascii_lowercase, range(26))}
[d.get(a.lower(), ' ') for a in 'Lee Quan Yew']

[12, 5, 5, ' ', 17, 21, 1, 14, ' ', 25, 5, 23]

In [27]:
{word.lower() for sentence in sentences for word in sentence.split(' ') if word not in stopwords}

{'ayodhya',
 'banks',
 'city',
 'diwali',
 'diya',
 'earthen',
 'eve',
 'holy',
 'lakh',
 'lamps',
 'lit',
 'new',
 'or',
 'over',
 'record',
 'river',
 'sarayu',
 'set',
 'simultaneously',
 'three',
 'tuesday',
 'up',
 'was',
 'world'}

In [28]:
[[word.lower() for word in sentence.split(' ') if word not in stopwords] for sentence in sentences]

[['new', 'world', 'record', 'was', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [29]:
[(word.lower(), i) for i, sentence in enumerate(sentences) for word in sentence.split(' ')]

[('a', 0),
 ('new', 0),
 ('world', 0),
 ('record', 0),
 ('was', 0),
 ('set', 0),
 ('in', 1),
 ('the', 1),
 ('holy', 1),
 ('city', 1),
 ('of', 1),
 ('ayodhya', 1),
 ('on', 2),
 ('the', 2),
 ('eve', 2),
 ('of', 2),
 ('diwali', 2),
 ('on', 2),
 ('tuesday', 2),
 ('with', 3),
 ('over', 3),
 ('three', 3),
 ('lakh', 3),
 ('diya', 3),
 ('or', 3),
 ('earthen', 3),
 ('lamps', 3),
 ('lit', 4),
 ('up', 4),
 ('simultaneously', 4),
 ('on', 4),
 ('the', 4),
 ('banks', 4),
 ('of', 4),
 ('the', 4),
 ('sarayu', 4),
 ('river', 4)]

In [30]:
[[(i,j) if (i not in (0, 7)) and (j not in (0, 7)) else ('----') for i in range(8)] for j in range(8)]

[['----', '----', '----', '----', '----', '----', '----', '----'],
 ['----', (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), '----'],
 ['----', (1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2), '----'],
 ['----', (1, 3), (2, 3), (3, 3), (4, 3), (5, 3), (6, 3), '----'],
 ['----', (1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4), '----'],
 ['----', (1, 5), (2, 5), (3, 5), (4, 5), (5, 5), (6, 5), '----'],
 ['----', (1, 6), (2, 6), (3, 6), (4, 6), (5, 6), (6, 6), '----'],
 ['----', '----', '----', '----', '----', '----', '----', '----']]