In [4]:
#Swapping Of Two Numbers.

x, y = 10, 20
print(x, y)
x, y = y, x 
print(x, y)

10 20
20 10

In [5]:
#Reversing a string in Python

a ="GeeksForGeeks"
print("Reverse is", a[::-1])

Reverse is skeeGroFskeeG

In [6]:
#Create a single string from all the elements in list

a = ["Geeks", "For", "Geeks"] 
print(" ".join(a))

Geeks For Geeks

In [19]:
n = 10
result = 1<n
a = n<9
print(result)
print(a)

True
False

In [14]:
import os; 
import socket; 
print(os) 
print(socket)

<module 'os' from 'C:\\Users\\Dang Dung\\Anaconda3\\lib\\os.py'>
<module 'socket' from 'C:\\Users\\Dang Dung\\Anaconda3\\lib\\socket.py'>

In [15]:
class MyName: 
    Geeks, For, Geeks = range(3) 
print(MyName.Geeks) 
print(MyName.For) 
print(MyName.Geeks)

2
1
2

In [16]:
def x(): 
    return 1, 2, 3, 4
a, b, c, d = x() 
print(a, b, c, d)

1 2 3 4

In [25]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4] 
print(max(set(test), key = test.count))

4

In [27]:
marks = 74
print("student's Grade")
if marks >=90:
 print("Grade A")
elif marks >= 80:
 print("Grade B")
elif marks >= 70:
 print("Grade C")
elif marks >= 60:
 print("Grade D")
elif marks >= 60:
 Print("Grade E")
else:
 print ("Grade f")

student's Grade
Grade C

In [28]:
Fruits = ['apple','banana','mango','grapes']
i = 0
for fruit in Fruits:
 print(i,fruit)
 i+=1

0 apple
1 banana
2 mango
3 grapes

In [29]:
Fruits = ['apple','banana','mango','grapes']
for i,fruit in enumerate(Fruits):
 print(i,fruit)

0 apple
1 banana
2 mango
3 grapes

In [30]:
students = ['john','vinod','vasu']
grades =['D','A','c']
for i in range(len(students)):
 student = students[i]
 grade = grades[i]
 print(student,grade)

john D
vinod A
vasu c

In [31]:
students = ['john','vinod','vasu']
grades =['D','A','c']
for student, grade in zip(students,grades):
  print(student,grade)

john D
vinod A
vasu c

In [32]:
Valueone = 15
ValueTwo = 25
print('Before swap',Valueone,ValueTwo)
temp=Valueone
Valueone=ValueTwo
ValueTwo=temp
print('After Swap',Valueone,ValueTwo)

Before swap 15 25
After Swap 25 15

In [33]:
Valueone = 15
ValueTwo = 25
print('Before swap',Valueone,ValueTwo)
Valueone, ValueTwo = ValueTwo, Valueone
print('Afterswap',Valueone,ValueTwo)

Before swap 15 25
Afterswap 25 15

In [34]:
employees = {
'vinod' : 'hyderabad',
'kiran' : 'vizag',
'harish': 'mumbai'
}
if 'harish' in employees:
 state = employees['harish']
else:
 state = 'Not Found'
print('Michael is from %s state' % state)

Michael is from mumbai state

In [44]:
employees = {
'vinod' : 'hyderabad',
'kiran' : 'vizag',
'harish': 'maharashtra'
}
state = employees.get('harish','Unknown')
print('harish is from %s state' % state)

harish is from maharashtra state